web_app/flows.json
[
    {
        "id": "401e3b9f05284c7f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a28a47fef5d42d6",
        "type": "ui_group",
        "name": "Alarms",
        "tab": "1ba49d34a2957cd6",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae32a80a61d72eba",
        "type": "ui_group",
        "name": "Temperature & Humidity",
        "tab": "1ba49d34a2957cd6",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f9a07bb3fd15f32",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "1ba49d34a2957cd6",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c3c270cb8ab1aa6",
        "type": "ui_group",
        "name": "Custom_Shade_Controller",
        "tab": "1ba49d34a2957cd6",
        "order": 6,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "50d6234b4391f72d",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "1ba49d34a2957cd6",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a79c16c78e1e4456",
        "type": "ui_group",
        "name": "New_Medicine",
        "tab": "1ba49d34a2957cd6",
        "order": 5,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "078c7d6395e7af75",
        "type": "ui_group",
        "name": "Saved_Medicine",
        "tab": "1ba49d34a2957cd6",
        "order": 7,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ba49d34a2957cd6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1c39661a1f9e0e2d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4f04a5cd5db49f4d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "./isrgrootx1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "5bd5d9ab086b9bc1",
        "type": "mqtt-broker",
        "name": "HiveMQTLS",
        "broker": "4d6452760f2643e491d02ba1c4bd11bc.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "4f04a5cd5db49f4d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fb3946e072ca1aec",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e769429c73b49eb3",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f33f157688b11188",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f40a76066bdd406",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f50324665678b357",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "705992e3542973e2",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ea5f21b70e1f3ba6",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2eaca52c5df62424",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "626fc5d13f6d9f9a",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "f11f91d3415d1c37",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4018d0b81a56cd1",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "fadcfec720eb12ae",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "60ccb3cc24767f09",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "d3bf5a61c874faa3",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "fc6f25a9abdbaed3",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca00f4d861a5e34c",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "10aca3e4b63de9d2",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "14ed7905551b22e0",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddb37cddaeedb8bd",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "9d789f62f588c45a",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "92ebd5e4b1dac4cd",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "20a5637d53fd6f1f",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "447ac7af2bfaafe8",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd35b57ae54b993a",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "28fc40d41c26fa43",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9f4156c77edabf8",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca72b703550c4ffb",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "121f547e7bb2a007",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "ae32a80a61d72eba",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "f1125141180c3816",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "0a28a47fef5d42d6",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "0cc9412c4fad55cc",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "29128862427f7bf2",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "745cf45398a4abfb",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "73903a1d2402fbd7",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ea53f4650366dcbc",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9f9d02a963d6635",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "300246d0d3f5ea5e",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "20c413c4fc8585b1",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "7785fcf8702dddb6",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "60b2a5d1ecda4b80",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e2af4d30f6915e8",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a27e593bd4e04ba",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "00f266683a63dcfc",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "29562d32db9ed11b",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "7f9a07bb3fd15f32",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d459d135a196750",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "078c7d6395e7af75",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "4601c446c43a53ee",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "078c7d6395e7af75",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "914fc09b46d7f772",
        "type": "ui_spacer",
        "z": "401e3b9f05284c7f",
        "name": "spacer",
        "group": "078c7d6395e7af75",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "23ed16eaa62003b5",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Alarm Status",
        "topic": "is-alarm-on-from-medibox",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "66ca579bf83a9dbc"
            ]
        ]
    },
    {
        "id": "1c444f84ab28b5b3",
        "type": "ui_switch",
        "z": "401e3b9f05284c7f",
        "name": "",
        "label": "Alarms Enabled",
        "tooltip": "",
        "group": "0a28a47fef5d42d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "63b08d19c25bbc0d"
            ]
        ]
    },
    {
        "id": "68f31cf673c363aa",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Alarm Status",
        "topic": "is-alarm-on-from-dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 1420,
        "y": 180,
        "wires": []
    },
    {
        "id": "87e366957b1a3006",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Temperature",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "a61ca84306a923d7",
                "c1336e37c783fed9"
            ]
        ]
    },
    {
        "id": "a61ca84306a923d7",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Show Temperature",
        "group": "ae32a80a61d72eba",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{payload}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "26",
        "seg2": "32",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "e558af3d38ee4c8a",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Humidity",
        "topic": "humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 60,
        "wires": [
            [
                "95c5635bbfd2c586",
                "abba287f0a5bf5e4"
            ]
        ]
    },
    {
        "id": "95c5635bbfd2c586",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Show Humidity",
        "group": "ae32a80a61d72eba",
        "order": 9,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1620,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1336e37c783fed9",
        "type": "ui_chart",
        "z": "401e3b9f05284c7f",
        "name": "Show Temperature Variation",
        "group": "ae32a80a61d72eba",
        "order": 16,
        "width": 5,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 100,
        "wires": [
            [
                "6b46eb47ac4de023"
            ]
        ]
    },
    {
        "id": "abba287f0a5bf5e4",
        "type": "ui_chart",
        "z": "401e3b9f05284c7f",
        "name": "Show Humidity Variation",
        "group": "ae32a80a61d72eba",
        "order": 25,
        "width": 5,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "90",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1650,
        "y": 80,
        "wires": [
            [
                "23fe88554356b65c"
            ]
        ]
    },
    {
        "id": "522416c1e4aaf84a",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Alarm 1 Time",
        "topic": "alarm-1-time-from-medibox",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "e98c91382544f22d"
            ]
        ]
    },
    {
        "id": "43234aecb5ba5bab",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Alarm 2 Time",
        "topic": "alarm-2-time-from-medibox",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "743259b42d6d560d"
            ]
        ]
    },
    {
        "id": "bdf64bc4583769aa",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Alarm 3 Time",
        "topic": "alarm-3-time-from-medibox",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "0a10851ef799a34f"
            ]
        ]
    },
    {
        "id": "df841148d864f8ef",
        "type": "ui_text_input",
        "z": "401e3b9f05284c7f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0a28a47fef5d42d6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "time",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "0b34f756301b35d1"
            ]
        ]
    },
    {
        "id": "35b49fc5ca452df5",
        "type": "ui_text_input",
        "z": "401e3b9f05284c7f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0a28a47fef5d42d6",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "time",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "cd6b86e2d2954c06"
            ]
        ]
    },
    {
        "id": "69d463fb4eb685c7",
        "type": "ui_text_input",
        "z": "401e3b9f05284c7f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0a28a47fef5d42d6",
        "order": 10,
        "width": 7,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "345924e730fef2be"
            ]
        ]
    },
    {
        "id": "ac1bab44d3d4108e",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Alarm 1 Time",
        "topic": "alarm-1-time-from-dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "efedfe0e27540f58",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Alarm 3 Time",
        "topic": "alarm-3-time-from-dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 1120,
        "y": 340,
        "wires": []
    },
    {
        "id": "4d7c1b389e3f5f03",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Alarm 2 Time",
        "topic": "alarm-2-time-from-dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "66ca579bf83a9dbc",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm On/OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarms_on",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1c444f84ab28b5b3"
            ]
        ]
    },
    {
        "id": "63b08d19c25bbc0d",
        "type": "switch",
        "z": "401e3b9f05284c7f",
        "name": "Alarm already set ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "alarms_on",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 180,
        "wires": [
            [],
            [
                "fbbeb939ade20ba7"
            ]
        ]
    },
    {
        "id": "fbbeb939ade20ba7",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm On/OFF",
        "rules": [
            {
                "t": "set",
                "p": "alarms_on",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 180,
        "wires": [
            [
                "68f31cf673c363aa"
            ]
        ]
    },
    {
        "id": "e98c91382544f22d",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm 1 Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarm1_time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "df841148d864f8ef"
            ]
        ]
    },
    {
        "id": "0b34f756301b35d1",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm 1 Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarm1_time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "ac1bab44d3d4108e"
            ]
        ]
    },
    {
        "id": "743259b42d6d560d",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm 2 Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarm2_time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "35b49fc5ca452df5"
            ]
        ]
    },
    {
        "id": "0a10851ef799a34f",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm 3 Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarm3_time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "69d463fb4eb685c7"
            ]
        ]
    },
    {
        "id": "345924e730fef2be",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm 3 Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarm3_time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "efedfe0e27540f58"
            ]
        ]
    },
    {
        "id": "cd6b86e2d2954c06",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Alarm 2 Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alarm2_time",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "4d7c1b389e3f5f03"
            ]
        ]
    },
    {
        "id": "199bc17793a5bc5f",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Left LDR Intensity",
        "topic": "light-intensity-left-ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "a1156c2914a9dd2a"
            ]
        ]
    },
    {
        "id": "1bf3cf2e736ca97c",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Right LDR Intensity",
        "topic": "light-intensity-right-ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "f5e275dbcad98bb8"
            ]
        ]
    },
    {
        "id": "0da143e6f2e9c2f2",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Current Max Light Intensity",
        "group": "7f9a07bb3fd15f32",
        "order": 3,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1840,
        "y": 420,
        "wires": []
    },
    {
        "id": "a1156c2914a9dd2a",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Left LDR Light Intensity",
        "rules": [
            {
                "t": "set",
                "p": "left_light_intensity",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "3b94149e3d19ce35"
            ]
        ]
    },
    {
        "id": "f5e275dbcad98bb8",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Right LDR Light Intensity",
        "rules": [
            {
                "t": "set",
                "p": "right_light_intensity",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "3b94149e3d19ce35"
            ]
        ]
    },
    {
        "id": "3b94149e3d19ce35",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Find LDR with Higher Intensity",
        "func": "let left_light_intensity = global.get(\"left_light_intensity\");\nlet right_light_intensity = global.get(\"right_light_intensity\");\n\nif (left_light_intensity > right_light_intensity) {\n    return [{ payload: \"Left LDR\" }, {payload: left_light_intensity}];\n} else {\n    return [{ payload: \"Right LDR\" }, {payload: right_light_intensity}];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 440,
        "wires": [
            [
                "b3321ca47d508a3a"
            ],
            [
                "5f1b6c7a05e75610"
            ]
        ]
    },
    {
        "id": "e9b71e7d85458c58",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "7f9a07bb3fd15f32",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Show LDR with Higher Intensity",
        "label": "<b>LDR (Higher Intensity) : </b>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1490,
        "y": 420,
        "wires": []
    },
    {
        "id": "5f1b6c7a05e75610",
        "type": "range",
        "z": "401e3b9f05284c7f",
        "minin": "0",
        "maxin": "4095",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Scale Intensity Value",
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "bf9fccf105902e61"
            ]
        ]
    },
    {
        "id": "bf9fccf105902e61",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Round Intensity Value",
        "func": "\nreturn {\n    payload: (msg.payload == undefined) ? 0 : parseFloat(msg.payload.toFixed(3))\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 460,
        "wires": [
            [
                "0da143e6f2e9c2f2",
                "ae40a2c48967e617",
                "83fd7b54fd52d4b9"
            ]
        ]
    },
    {
        "id": "ae40a2c48967e617",
        "type": "ui_chart",
        "z": "401e3b9f05284c7f",
        "name": "Max Light Intensity",
        "group": "7f9a07bb3fd15f32",
        "order": 10,
        "width": 5,
        "height": 4,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1810,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "da3aee13beace699",
        "type": "ui_slider",
        "z": "401e3b9f05284c7f",
        "name": "Get Minimum Angle",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "0c3c270cb8ab1aa6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": "10",
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "2b3fe9286ccc80a7"
            ]
        ]
    },
    {
        "id": "d04aae407e9e532c",
        "type": "ui_slider",
        "z": "401e3b9f05284c7f",
        "name": "Get Controlling Factor",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "0c3c270cb8ab1aa6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "afabc3192bdf79ce"
            ]
        ]
    },
    {
        "id": "2b3fe9286ccc80a7",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Minimum Angle",
        "rules": [
            {
                "t": "set",
                "p": "minimum_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "805c58f43d738397"
            ]
        ]
    },
    {
        "id": "afabc3192bdf79ce",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Controlling Factor",
        "rules": [
            {
                "t": "set",
                "p": "controlling_factor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "805c58f43d738397"
            ]
        ]
    },
    {
        "id": "83fd7b54fd52d4b9",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Higher Intensity",
        "rules": [
            {
                "t": "set",
                "p": "max_intensity",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b3321ca47d508a3a",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set LDR with Higher Intensity",
        "rules": [
            {
                "t": "set",
                "p": "max_intensity_ldr",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "e9b71e7d85458c58"
            ]
        ]
    },
    {
        "id": "805c58f43d738397",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Calculate Motor Angle",
        "func": "let max_intensity_ldr = global.get(\"max_intensity_ldr\");\nlet max_intensity = parseFloat(global.get(\"max_intensity\"));\nlet minimum_angle = parseInt(global.get(\"minimum_angle\"));\nlet controlling_factor = parseFloat(global.get(\"controlling_factor\"));\nlet calc_motor_angle, motor_angle;\nlet d_value;\n\nif (max_intensity_ldr == \"Left LDR\") {\n    d_value = 1.5;\n} else {\n    d_value = 0.5;\n}\n\ncalc_motor_angle = Math.round(minimum_angle * d_value + (180 - minimum_angle) * max_intensity * controlling_factor);\nmotor_angle = (calc_motor_angle < 180) ? calc_motor_angle : 180;\n\nreturn { payload: motor_angle }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 560,
        "wires": [
            [
                "50ae98ea4bb779d4"
            ]
        ]
    },
    {
        "id": "fb17086d0914bca1",
        "type": "ui_dropdown",
        "z": "401e3b9f05284c7f",
        "name": "Select a Medicine",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "50d6234b4391f72d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Custom",
                "value": "Custom",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 690,
        "y": 880,
        "wires": [
            [
                "32f3039775637c3a"
            ]
        ]
    },
    {
        "id": "f59e4d0613d2339b",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Return Formatted Medicines list",
        "func": "let medicines = global.get(\"medicines\");\n\nif (!Array.isArray(medicines)) {\n    medicines = msg.medicines;\n    global.set(\"medicines\", medicines);\n}\n\nlet convertedMedicines = medicines.map(obj => {\n    return { [Object.keys(obj)[0]]: Object.values(obj)[0][\"medicine_name\"] };\n});\n\nmsg.options = convertedMedicines;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 880,
        "wires": [
            [
                "fb17086d0914bca1"
            ]
        ]
    },
    {
        "id": "a16bb9c4111418bb",
        "type": "inject",
        "z": "401e3b9f05284c7f",
        "name": "Query to Retrieve Medicines from Azure Table at Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "{\"tableName\":\"medicines\",\"action\":\"Q\",\"selectdata\":\"*\",\"fromcolumn\":\"type\",\"where\":\"custom medicine\",\"top\":0}",
        "payloadType": "json",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "611f815a8bf0ddfd"
            ]
        ]
    },
    {
        "id": "32f3039775637c3a",
        "type": "switch",
        "z": "401e3b9f05284c7f",
        "name": "Selected Motor Angle Option ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Custom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "New",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 950,
        "y": 880,
        "wires": [
            [
                "557b824ae97ab091"
            ],
            [
                "58878316ba710ec5"
            ],
            [
                "7d2aa1f2f7cff5d0",
                "bd47ad02889ae8ca"
            ]
        ]
    },
    {
        "id": "557b824ae97ab091",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Custom Minimum Angle, Controlling Factor Option",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_Custom_Shade_Controller\"],\"hide\":[\"Home_New_Medicine\",\"Home_Saved_Medicine\"],\"focus\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 780,
        "wires": [
            [
                "581370ca6e363bd7"
            ]
        ]
    },
    {
        "id": "7d2aa1f2f7cff5d0",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Select from Predefined Medicines Option",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_Saved_Medicine\"],\"hide\":[\"Home_Custom_Shade_Controller\",\"Home_New_Medicine\"],\"focus\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 860,
        "wires": [
            [
                "581370ca6e363bd7"
            ]
        ]
    },
    {
        "id": "581370ca6e363bd7",
        "type": "ui_ui_control",
        "z": "401e3b9f05284c7f",
        "name": "Update UI Groups for Selected Option",
        "events": "all",
        "x": 1790,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e7fd24de316dac62",
        "type": "ui_form",
        "z": "401e3b9f05284c7f",
        "name": "Get New Medicine Details",
        "label": "",
        "group": "a79c16c78e1e4456",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Minimum Angle",
                "value": "minimum_angle",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Controlling Factor",
                "value": "controlling_factor",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "minimum_angle": "",
            "controlling_factor": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "c56a9dd914f53832"
            ]
        ]
    },
    {
        "id": "58878316ba710ec5",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Add New Medicine with Predefined Angle Option",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_New_Medicine\"],\"hide\":[\"Home_Custom_Shade_Controller\",\"Home_Saved_Medicine\"],\"focus\":true}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 820,
        "wires": [
            [
                "581370ca6e363bd7"
            ]
        ]
    },
    {
        "id": "c56a9dd914f53832",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Add New Medicine",
        "func": "let medicines = global.get(\"medicines\");\n\nif (!Array.isArray(medicines)) {\n    medicines = [{ \"Custom\": { \"medicine_name\": \"Custom\" } }, { \"New Medicine\": { \"medicine_name\": \"New\" } }];\n}\n\nlet medicine_name = msg.payload.name;\nlet minimum_angle = msg.payload.minimum_angle;\nlet controlling_factor = msg.payload.controlling_factor;\n\nif (minimum_angle < 0 || minimum_angle > 120 || controlling_factor < 0 || controlling_factor > 1) {\n    return [\n        { \"payload\": false },\n        { \"payload\": {\n            status: false\n        }\n    }];\n}\n\nvar new_medicine = {};\nnew_medicine[medicine_name] = {\n    \"medicine_name\": medicine_name,\n    \"minimum_angle\": minimum_angle,\n    \"controlling_factor\": controlling_factor\n}\nmedicines.unshift(new_medicine);\nglobal.set(\"medicines\", medicines);\n\nreturn [\n    { \"payload\": true },\n    { \"payload\": {\n        status: true,\n        details: new_medicine[medicine_name]\n    }\n}];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": [
            [
                "c7a570c7f12ae8c1"
            ],
            [
                "35f5d6dbc19928cf"
            ]
        ]
    },
    {
        "id": "c7a570c7f12ae8c1",
        "type": "switch",
        "z": "401e3b9f05284c7f",
        "name": "Adding Medicine Successful ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 680,
        "wires": [
            [
                "f59e4d0613d2339b",
                "a082284bc75dbc14"
            ],
            [
                "87a3b800228fc91f"
            ]
        ]
    },
    {
        "id": "6f94457bb79fd212",
        "type": "ui_toast",
        "z": "401e3b9f05284c7f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Show Success Message",
        "x": 1410,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a082284bc75dbc14",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Success Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "New Medicine Added",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "6f94457bb79fd212"
            ]
        ]
    },
    {
        "id": "bd47ad02889ae8ca",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Return Details of Selected Medicine",
        "func": "let medicines = global.get(\"medicines\");\nlet medicine_name = msg.payload;\n\nlet medicine_obj_nested = medicines.find(obj => Object.keys(obj)[0] === medicine_name);\nlet medicine_obj = medicine_obj_nested[Object.keys(medicine_obj_nested)[0]];\n\nglobal.set(\"minimum_angle\",parseInt(medicine_obj.minimum_angle));\nglobal.set(\"controlling_factor\",parseFloat(medicine_obj.controlling_factor));\n\nreturn [{\n    \"payload\": medicine_obj.medicine_name\n}, {\n    \"payload\": parseInt(medicine_obj.minimum_angle)\n}, {\n    \"payload\": parseFloat(medicine_obj.controlling_factor)\n}];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 960,
        "wires": [
            [
                "edf5b4b7816e081a",
                "ffcf3d24cea358b0"
            ],
            [
                "781c7b64eb876780"
            ],
            [
                "2e7355a59ccebd01"
            ]
        ]
    },
    {
        "id": "50ae98ea4bb779d4",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Motor Angle",
        "rules": [
            {
                "t": "set",
                "p": "motor_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 560,
        "wires": [
            [
                "2b34b5da4aa9eb43",
                "d73579d1beb163c0"
            ]
        ]
    },
    {
        "id": "2b34b5da4aa9eb43",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Motor Angle",
        "topic": "motor-angle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "b5b0c6aa27ed8f99",
        "type": "ui_toast",
        "z": "401e3b9f05284c7f",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Show Failed Message",
        "x": 1380,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "87a3b800228fc91f",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Failed Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Failed to add medicine. Check parameters !",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 700,
        "wires": [
            [
                "b5b0c6aa27ed8f99"
            ]
        ]
    },
    {
        "id": "edf5b4b7816e081a",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Calculate Motor Angle",
        "func": "let max_intensity_ldr = global.get(\"max_intensity_ldr\");\nlet max_intensity = parseFloat(global.get(\"max_intensity\"));\nlet minimum_angle = parseInt(global.get(\"minimum_angle\"));\nlet controlling_factor = parseFloat(global.get(\"controlling_factor\"));\nlet calc_motor_angle, motor_angle;\nlet d_value;\n\nif (max_intensity_ldr == \"Left LDR\") {\n    d_value = 1.5;\n} else {\n    d_value = 0.5;\n}\n\ncalc_motor_angle = Math.round(minimum_angle * d_value + (180 - minimum_angle) * max_intensity * controlling_factor);\nmotor_angle = (calc_motor_angle < 180) ? calc_motor_angle : 180;\n\nreturn { payload: motor_angle }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 940,
        "wires": [
            [
                "8c4887e0e9b01904"
            ]
        ]
    },
    {
        "id": "8c4887e0e9b01904",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Motor Angle",
        "rules": [
            {
                "t": "set",
                "p": "motor_angle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 940,
        "wires": [
            [
                "f3b5c095c07860d1",
                "a5be454ac6c02564"
            ]
        ]
    },
    {
        "id": "f3b5c095c07860d1",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Motor Angle",
        "topic": "motor-angle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 2060,
        "y": 900,
        "wires": []
    },
    {
        "id": "d73579d1beb163c0",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Show Motor Angle",
        "group": "0c3c270cb8ab1aa6",
        "order": 4,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "180",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "ed87f002cd1cbfc9",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "0c3c270cb8ab1aa6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Motor Angle Text",
        "label": "",
        "format": "<h3>Motor Angle</h3>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1470,
        "y": 540,
        "wires": []
    },
    {
        "id": "a5be454ac6c02564",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Show Motor Angle",
        "group": "078c7d6395e7af75",
        "order": 7,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Motor Angle",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "180",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 2050,
        "y": 960,
        "wires": []
    },
    {
        "id": "781c7b64eb876780",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Show Minimum Angle",
        "group": "078c7d6395e7af75",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Minimum Angle",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "120",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "120",
        "diff": false,
        "className": "",
        "x": 1600,
        "y": 980,
        "wires": []
    },
    {
        "id": "2e7355a59ccebd01",
        "type": "ui_gauge",
        "z": "401e3b9f05284c7f",
        "name": "Show Controlling Factor",
        "group": "078c7d6395e7af75",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Controlling Factor",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#ca6464",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "1",
        "diff": false,
        "className": "",
        "x": 1610,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ffcf3d24cea358b0",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "078c7d6395e7af75",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Show Medicine Name",
        "label": "<b>Medicine : </b>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#00c291",
        "x": 1600,
        "y": 900,
        "wires": []
    },
    {
        "id": "d287f58b6c797297",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "0a28a47fef5d42d6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Alarm 1 Text",
        "label": "Alarm 1",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#00c291",
        "x": 1350,
        "y": 260,
        "wires": []
    },
    {
        "id": "1297e36d10a34e03",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "0a28a47fef5d42d6",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Alarm 2 Text",
        "label": "Alarm 2",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#00c291",
        "x": 1350,
        "y": 300,
        "wires": []
    },
    {
        "id": "dbcd9970c375e01a",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "0a28a47fef5d42d6",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Alarm 3 Text",
        "label": "Alarm 3",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#00c291",
        "x": 1350,
        "y": 340,
        "wires": []
    },
    {
        "id": "a2a6244eb314fd4e",
        "type": "ui_button",
        "z": "401e3b9f05284c7f",
        "name": "Alarm Turn Off Button",
        "group": "0a28a47fef5d42d6",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Turn Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 1140,
        "wires": [
            [
                "32296f35d342d65a"
            ]
        ]
    },
    {
        "id": "87b9321162328a95",
        "type": "ui_text",
        "z": "401e3b9f05284c7f",
        "group": "0a28a47fef5d42d6",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Show Alarms Ringing Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#737373",
        "x": 980,
        "y": 1200,
        "wires": []
    },
    {
        "id": "32296f35d342d65a",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Disable Button",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Turn Off Alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1140,
        "wires": [
            [
                "a2a6244eb314fd4e",
                "c4c720a4550135f2"
            ]
        ]
    },
    {
        "id": "e73d2a67bee18c54",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Check if Alarms are Disabled/Ringing/Not-Ringing",
        "func": "const now = new Date();\nconst hours = now.getHours();\nconst minutes = now.getMinutes();\nconst seconds = now.getSeconds();\nconst currentTimeInSecs = (hours * 60 * 60) + (minutes * 60) + (seconds);\nconst alarms_on = global.get(\"alarms_on\");\nlet alarm_time_count = global.get(\"alarm_time_count\");\n\nif (alarm_time_count === undefined) alarm_time_count = 0;\n\nif (!alarms_on) {\n    return [{ enabled: false }, { payload: \"Alarms are Disabled\" }, { alarm_time_count: alarm_time_count }]\n}\n\nif (msg.payload !== undefined && currentTimeInSecs - msg.payload.latestTime < 2) {\n    global.set(\"alarm_time_count\", alarm_time_count + 1);\n    return [{ enabled: true }, {\n        payload: \"Alarm \" + msg.payload.latestAlarm + \" Ringing\"\n    }, { alarm_time_count: alarm_time_count }]\n}\nelse {\n    if (alarm_time_count > 0){\n        global.set(\"alarm_time_count\", 0);\n    }\n    return [{ enabled: false }, {\n        payload: \"No Alarms Ringing\"\n    }, { alarm_time_count: alarm_time_count }]\n}\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1180,
        "wires": [
            [
                "a2a6244eb314fd4e"
            ],
            [
                "87b9321162328a95"
            ],
            [
                "c64fb7eb52a1db7f"
            ]
        ]
    },
    {
        "id": "79db5c73ac3272f0",
        "type": "inject",
        "z": "401e3b9f05284c7f",
        "name": "Repeatedly Check Alarm Ringing",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "latest_alarm",
        "payloadType": "global",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "e73d2a67bee18c54"
            ]
        ]
    },
    {
        "id": "87464a197be13511",
        "type": "mqtt in",
        "z": "401e3b9f05284c7f",
        "name": "Receive Alarm Ringing Status",
        "topic": "alarm-ringing",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bd5d9ab086b9bc1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "461ac07fcd5b4139"
            ]
        ]
    },
    {
        "id": "461ac07fcd5b4139",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Find Latest Ringed Alarm and Time",
        "func": "const now = new Date();\nconst hours = now.getHours();\nconst minutes = now.getMinutes();\nconst seconds = now.getSeconds();\nconst totalTimeInSecs = (hours * 60 * 60) + (minutes * 60) + (seconds);\n\nlet latestRinging = {\n    latestAlarm: msg.payload,\n    latestTime: totalTimeInSecs\n};\n\nreturn { payload: latestRinging };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1060,
        "wires": [
            [
                "2bda9c4a605ed416"
            ]
        ]
    },
    {
        "id": "2bda9c4a605ed416",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Set Find Latest Ringed Alarm Details",
        "rules": [
            {
                "t": "set",
                "p": "latest_alarm",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c4c720a4550135f2",
        "type": "mqtt out",
        "z": "401e3b9f05284c7f",
        "name": "Publish Stop Alarm",
        "topic": "stop-alarm-from-dashboard",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bd5d9ab086b9bc1",
        "x": 1470,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f03a321eebb193ab",
        "type": "Aleph Table Storage",
        "z": "401e3b9f05284c7f",
        "name": "Azure Table Storage",
        "debug": true,
        "x": 860,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "611f815a8bf0ddfd",
        "type": "Aleph Table Storage",
        "z": "401e3b9f05284c7f",
        "name": "Azure Table Storage",
        "debug": true,
        "x": 580,
        "y": 960,
        "wires": [
            [
                "d4ebff9a2a3d2052"
            ]
        ]
    },
    {
        "id": "d4ebff9a2a3d2052",
        "type": "json",
        "z": "401e3b9f05284c7f",
        "name": "Convert Query Result to JSON Array",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 960,
        "wires": [
            [
                "f5120bcc917af6b3"
            ]
        ]
    },
    {
        "id": "f5120bcc917af6b3",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Format Medicines Array",
        "func": "const queried_array = msg.payload;\nlet medicines = [];\n\nmedicines.unshift({ \"Custom\": {\"medicine_name\": \"Custom\"}});\nmedicines.unshift({ \"New Medicine\": { \"medicine_name\": \"New\" }});\n\nfor (let index = 0; index < queried_array.length; index++) {\n    const element = queried_array[index];\n    const element_name = element.RowKey._;\n    medicines.unshift({\n        [element_name] : {\n            \"medicine_name\": element.medicine_name._,\n            \"minimum_angle\": element.minimum_angle._,\n            \"controlling_factor\": element.controlling_factor._\n        }\n    });\n}\n\nreturn { medicines: medicines };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 880,
        "wires": [
            [
                "f59e4d0613d2339b"
            ]
        ]
    },
    {
        "id": "35f5d6dbc19928cf",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Query to Add Medicine to Azure Table",
        "func": "const status = msg.payload.status;\nconst medicine_details = msg.payload.details;\n\nif (status) {\n    const tableInsertion = {\n        \"tableName\": \"medicines\",\n        \"action\": \"I\",\n        \"partitionKey\": \"medicine\",\n        \"rowKey\": medicine_details.medicine_name,\n        \"data\": {\n            \"medicine_name\": medicine_details.medicine_name,\n            \"minimum_angle\": medicine_details.minimum_angle,\n            \"controlling_factor\": medicine_details.controlling_factor,\n            \"type\": \"custom medicine\"\n        }\n    };\n    return { payload: tableInsertion };\n}\nelse {\n   return { payload: null };\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 760,
        "wires": [
            [
                "f03a321eebb193ab"
            ]
        ]
    },
    {
        "id": "82cd37fd7a6eddcc",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Notify User via Twilio",
        "func": "var env_obj = global.get('env');\n\n// Your AccountSID and Auth Token from console.twilio.com\nconst accountSid = env_obj.twilioAccountSid;\nconst authToken = env_obj.twilioAuthToken;\n\nconst client = twilio(accountSid, authToken);\n\nclient.messages\n    .create({\n        body: ' Alarm is Ringing! Time for Your Medicine! ',\n        from: env_obj.twilioFromPhoneNumber,\n        to: env_obj.twilioToPhoneNumber\n    })\n    .then((message) => console.log(message.sid));\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "twilio",
                "module": "twilio"
            }
        ],
        "x": 1760,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "d1bb68aee06079a2",
        "type": "switch",
        "z": "401e3b9f05284c7f",
        "name": "If Threashold Time has Reached",
        "property": "send_message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1450,
        "y": 1240,
        "wires": [
            [
                "82cd37fd7a6eddcc"
            ]
        ]
    },
    {
        "id": "c64fb7eb52a1db7f",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Check Threshold Time has Reached to Send SMS",
        "func": "const time_count_per_min = 60;\nconst minutes_before_notifying = 2;\nconst count_before_notifying = time_count_per_min * minutes_before_notifying;\n\nif (msg.alarm_time_count == count_before_notifying) {\n    return { send_message: true };\n}\nreturn { send_message: false };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1240,
        "wires": [
            [
                "d1bb68aee06079a2"
            ]
        ]
    },
    {
        "id": "6b46eb47ac4de023",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "function 1",
        "func": "\nlet last_value = msg.payload[0].data.at(0).at(-1).y;\n\nreturn { value: last_value };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "e8678ef3d46389c7"
            ]
        ]
    },
    {
        "id": "e8678ef3d46389c7",
        "type": "switch",
        "z": "401e3b9f05284c7f",
        "name": "",
        "property": "value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "26",
                "vt": "num",
                "v2": "32",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "3bfd144b0f4c46a8"
            ],
            [
                "d48e6d21ef6e538c"
            ]
        ]
    },
    {
        "id": "23fe88554356b65c",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "function 2",
        "func": "\nlet last_value = msg.payload[0].data.at(0).at(-1).y;\n\nreturn { value: last_value };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 80,
        "wires": [
            [
                "5c29c7a90520b89e"
            ]
        ]
    },
    {
        "id": "5c29c7a90520b89e",
        "type": "switch",
        "z": "401e3b9f05284c7f",
        "name": "",
        "property": "value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "60",
                "vt": "num",
                "v2": "80",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2010,
        "y": 80,
        "wires": [
            [
                "039a2bcdc812645e"
            ],
            [
                "efecd4e01a53db74"
            ]
        ]
    },
    {
        "id": "d48e6d21ef6e538c",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Notify User via Twilio",
        "func": "let temperature_msg_sent = global.get(\"temperature_msg_sent\");\nvar env_obj = global.get('env');\n\nif (temperature_msg_sent==undefined) {\n    temperature_msg_sent = false;\n}\n\nif (!temperature_msg_sent) {\n\n    // Your AccountSID and Auth Token from console.twilio.com\n    const accountSid = env_obj.twilioAccountSid;\n    const authToken = env_obj.twilioAuthToken;\n\n    const client = twilio(accountSid, authToken);\n\n    client.messages\n        .create({\n            body: ' Medibox temperature is not within safe limits! ',\n            from: env_obj.twilioFromPhoneNumber,\n            to: env_obj.twilioToPhoneNumber\n        })\n        .then((message) => console.log(message.sid));\n\n    temperature_msg_sent = true;\n    global.set(\"temperature_msg_sent\", temperature_msg_sent);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "twilio",
                "module": "twilio"
            }
        ],
        "x": 1040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3bfd144b0f4c46a8",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Reset temperature_msg_sent status",
        "rules": [
            {
                "t": "set",
                "p": "temperature_msg_sent",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "039a2bcdc812645e",
        "type": "change",
        "z": "401e3b9f05284c7f",
        "name": "Reset humidity_msg_sent status",
        "rules": [
            {
                "t": "set",
                "p": "humidity_msg_sent",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "efecd4e01a53db74",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Notify User via Twilio",
        "func": "let humidity_msg_sent = global.get(\"humidity_msg_sent\");\nvar env_obj = global.get('env');\n\nif (humidity_msg_sent==undefined) {\n    humidity_msg_sent = false;\n}\n\nif (!humidity_msg_sent) {\n\n    // Your AccountSID and Auth Token from console.twilio.com\n    const accountSid = env_obj.twilioAccountSid;\n    const authToken = env_obj.twilioAuthToken;\n\n    const client = twilio(accountSid, authToken);\n\n    client.messages\n        .create({\n            body: ' Medibox humidity is not within safe limits! ',\n            from: env_obj.twilioFromPhoneNumber,\n            to: env_obj.twilioToPhoneNumber\n        })\n        .then((message) => console.log(message.sid));\n\n    humidity_msg_sent = true;\n    global.set(\"humidity_msg_sent\", humidity_msg_sent);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "twilio",
                "module": "twilio"
            }
        ],
        "x": 2220,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1263987f6cde7ba1",
        "type": "function",
        "z": "401e3b9f05284c7f",
        "name": "Notify User via Twilio",
        "func": "let temperature_msg_sent = global.get(\"temperature_msg_sent\");\nvar env_obj = global.get('env');\n\nreturn {payload:env_obj};\n\nif (temperature_msg_sent==undefined) {\n    temperature_msg_sent = false;\n}\n\nif (!temperature_msg_sent) {\n\n    // Your AccountSID and Auth Token from console.twilio.com\n    const accountSid = env_obj.twilioAccountSid;\n    const authToken = env_obj.twilioAuthToken;\n\n    const client = twilio(accountSid, authToken);\n\n    client.messages\n        .create({\n            body: ' Medibox temperature is not within safe limits! ',\n            from: env_obj.twilioFromPhoneNumber,\n            to: env_obj.twilioToPhoneNumber\n        })\n        .then((message) => console.log(message.sid));\n\n    temperature_msg_sent = true;\n    global.set(\"temperature_msg_sent\", temperature_msg_sent);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "twilio",
                "module": "twilio"
            }
        ],
        "x": 3080,
        "y": 160,
        "wires": [
            [
                "3234c6c5a460695c"
            ]
        ]
    },
    {
        "id": "e03c32b752af1fbb",
        "type": "inject",
        "z": "401e3b9f05284c7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2880,
        "y": 160,
        "wires": [
            [
                "1263987f6cde7ba1"
            ]
        ]
    },
    {
        "id": "3234c6c5a460695c",
        "type": "debug",
        "z": "401e3b9f05284c7f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3280,
        "y": 160,
        "wires": []
    }
]